/node_modules
/storage/*.key
/public/logs/*
/vendor
/public/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.idea


!/public/index.php
!/public/robots.txt
!/public/web.config